/* Universal CSS  */

* {
  font-family: monospace;
}

/* Header part CSS  */

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 15px;
  background-color: chocolate;
  margin-bottom: 20px;
}

.headerDiv a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 13px;
}

/* Banner Part CSS  */
.bannerDiv {
  background-image: url("./figures/banner.jpeg");
  height: 400px;
  position: relative;
}

.bannerContent {
  position: absolute;
  top: 38px;
  text-align: center;
  width: 100%;
}

/* Cards Part CSS  */

.imgMainDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.imgDiv {
  border: 1px dashed black;
  width: 180px;
  border-radius: 30px;
  margin-right: 20px;
}
.imgDiv img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.imgDiv h3 {
  color: red;
  text-align: center;
}

.burgerFiyat {
  font-size: 28px !important;
  text-align: center;
  color: red;
}

.burgerFiyat span {
  font-style: italic;
}
.imgDiv p {
  padding: 0 20px;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonDiv button {
  border: none;
  border-radius: 35px;
  background-color: green;
  color: white;
  width: 80px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Footer Part CSS */

.footerMainDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightcoral;
  height: 100px;
  color: white;
  margin-top: 20px;
}

.footerDiv a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 2px 0;
  font-size: 14px;
}

/* RESPONSIVE WEB DESIGN CSS */

/* Ödev kısmı  start */
@media only screen and (max-width: 900px) {
  .imgMainDiv {
    display: grid;
    grid-template-columns: auto auto;
  }

  .imgDiv {
    width: 360px;
    margin-bottom: 30px;
  }
}
/* Ödev Kısmı end */
@media only screen and (max-width: 600px) {
  .imgMainDiv {
    display: flex;
    flex-direction: column;
  }
  .imgDiv {
    width: 100%;
    margin-bottom: 30px;
  }
  .main-form {
    margin: 0;
  }
}
